.NavList{
  list-style: none;
  margin: 0;
  padding: 0rem 2rem;
}
.NavList li{
  /* This is for same line list */
  display: inline-block;
  margin-right: 1.6rem;
}

.NavList a{
  /* This is for no underlines */
  text-decoration: none;
  color: ghostwhite;
}

.NavList a:hover{
  color: gold;
}

.slow-underline::after{
  content:"";
  position: absolute;
  background-color: gold;
  height: 3px;
  width: 100%;
  left: 0;
  bottom: -10px;
  transition: 0.2s;
}

  