/* .Navigation {
  text-align: left;
  border-bottom: 1px solid #222222;
  padding: 1.0em 2.5%;
  height: 10%;
  font-size: 1.25em;
  background-color: #222222;

  
} */


.NavList{
  list-style: none;
  margin: 0;
  padding: 0;
}
.NavList li{
  display: inline-block;
  margin-right: 1.6em;
}

.NavList a{
  color: #000000;
  border-bottom: 0px;
  text-decoration: none;
  
}

.NavList a:link{
  color: ghostwhite;
  border-bottom: 0px;
}

.NavList a:visited{
  color: ghostwhite;
  border-bottom: 0px;
}
  