Footer h3{
    color: #181818;
    padding: 0;
    margin: 0;
    text-align: right;
}

Footer ul{
    list-style: none;
    text-align: right;
}

Footer li{
    color: #181818;
    position: relative;
    display: inline-block;
    margin-left: 15px;
}

Footer a{
    color: #181818;
    font-size: 1.25rem;
    border-bottom: 0px;
    text-decoration: none;
}



