.Home{
    text-align: left;
    /* width: 65.5%;
    padding-left: 2.5%;
    padding-right: 2%;
    margin: 0; */
    /* float: left; */
}
.Timeline{
    text-align: center;
}
.heading_homepage{
    margin-bottom: 1px;
}
.heading_subtext{
    margin-top: 0;
    color: gray;
}