
body {
  margin: 0 0;
  padding: 0 0;
  font-family:  'Open Sans',-apple-system,BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* height: 100%; */
  /* overflow: scroll; */
  background-color: #181818;
}

nav{
  padding: 3vh;
  font-size: 1.25rem;
  height: 10%;
}

header{
  padding: 8vh;
  text-align: center;
  border-bottom: 1px solid #202020;
  background-color: #202020;
}

main{
  padding: 0px;
}

footer{
  /* padding: 8vh; */
  background-color:gold;
  padding: 8vh 12vw 8vh 12vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


p{
  color: ghostwhite;
  font-size: 1.5rem;
  margin-bottom: 10px;
  line-height: 6vh;
}

h1 {
  color: ghostwhite;
  font-size: 3rem;

}

h2 {
  color: ghostwhite;
  font-size: 2.5rem;
}

h3 {
  color: ghostwhite;
  font-size: 2rem;
}

h4 {
  color: ghostwhite;

}

h5 {
  color: ghostwhite;

}

ul {
  color: ghostwhite;
}

ol{
  color: ghostwhite;
}

li{
  color: ghostwhite;
  font-size: 1.5rem;
  margin-bottom: 10px;
  line-height: 6vh;
}

.Link {
  color: ghostwhite;
  border-bottom: 0px;
}
article {
  margin: 0 10vw 0 10vw;
  padding: 10vh 2em;
}

/* Some common classes to use */
.bold_text{
  font-weight: bold;
}
.normal_link{
  color:gold;
}
.center_text{
  text-align: center;
}
.icon {
  width: 30px;
  height: 30px;
}
.h2_divider::after {
  content: "";
  background-color: ghostwhite;
  position: absolute;
  width: 100%;
  display: inline;
  bottom: -30px;
  height: 1px;
}
/* for creating responsive pseudo elements */
.relative_div{
  position: relative;
}
.link_slow_underline{

}